.container{
  border-radius: 10px;
  border: 1.5px solid #0d7534;
  padding: 10px;
  background-color: #e4e4ed;
}

.wrapper{
  width: 100%;
  min-height: calc(100vh - 90px);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}