.container{
  width: 100%;
  background-color: #0d7534;
  color: #e4e4ed;
  display: flex;
  justify-content: space-between;

  .logo{
    cursor: pointer;
    display: flex;
    margin-left: 5%;
    margin-top: 5px;

    img{
      height: 65px;
      width: 65px;
    }

    .logo_text{
      margin-left: 15px;
    }
  }

  @media (max-width: 420px){
    .logo_text{
      align-content: center;
      text-align: center;
      justify-content: center;

      span{
        display: none;
      }
    }
  }
}

