
*{
  /*::-webkit-scrollbar{
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    //background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #0d7534;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #11552a;
  }*/

  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.appContainer{
  width: 100%;
  height: 100%;
  min-width: 420px;
}

.header{
  height: 80px;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.wrapper{
  display: flex;
  .body{
    background: linear-gradient(180deg, white, #11552a);
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
    width: 100%;
    background-size: 100%;
    padding-left: 35px;
    padding-right: 35px;
    overflow: hidden;
  }
}


